:root {
  --color-black: #040517;
  --color-white: #e5e5e5e7;
  --color-blue: rgb(32, 15, 86);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  letter-spacing: 0.028rem;
}

html{
  background-color: var(--color-background);
}

/* Fonts */
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../assets/fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf");
}

/* Font Family */
.font-bold {
  font-weight: normal;
  font-family: "Montserrat-Bold";
}

.font-regular {
  font-weight: normal;
  font-family: "Montserrat-Regular";
}

.font-medium {
  font-weight: normal;
  font-family: "Montserrat-Medium";
}

.font-light {
  font-weight: normal;
  font-family: "Montserrat-Light";
}

.font-thin {
  font-weight: normal;
  font-family: "Montserrat-Thin";
}
